<label for="username">Username</label>
<input
  type="text"
  name="username"
  class="form-control"
  [(ngModel)]="userName"
/>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="onResetName()"
>
  Reset User
</button>
<p>{{ userName }}</p>
<hr />
<label for="servername">Server Name</label>
<!-- <input
  type="text"
  name="servername"
  class="form-control"
  (input)="onUpdateServerName($event)"
/> -->
<input
  type="text"
  name="servername"
  class="form-control"
  [(ngModel)]="serverName"
/>
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- Can you property binding or string interpolation to accomplish the same thing.
	However, string interpolation should be used to display values while data binding controls properties
	Do not mix property binding and string interpolation, you cannot reference a string interpolation
	inside of the property binding expression -->
<!-- <p [innerText]="allowNewServer"></p> (OR) <p>{{ allowNewServer }}</p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- The star is required because its a structural directive / this will change the DOM -->
<!-- <p *ngIf="serverCreated; else noServer">-->
<!-- # represents a local reference  -->
<!-- <ng-template #noServer> <p>No server was created!</p></ng-template> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
<hr />
<p><strong>Details</strong></p>
<button class="btn btn-primary" (click)="onDisplayDetails($event)">
  Display Details
</button>
<p *ngIf="displayDetails">Secret password = tuna</p>
<p>Details:</p>
<p
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
>
  {{ detailsMsg }}
</p>
<div *ngFor="let logItem of log">{{ logItem }}</div>
